body{
    background-image: linear-gradient(to top, #F6917B 0%, #FF5733 100%);
    align-content: center;
    font-family: cursive;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.imagen{
    width: 25%;
    height: 25%;
    border-radius: 100%;
    border-color:rgb(71, 71, 71);
    border-style: solid;
    border-width: 4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.icono{
    width: 2.5%;
    height: 2.5%;
}

p{
    font-size: 20px;
    color: whitesmoke;
    text-align: center;
}

footer{
    font-size: 16;
/**    position: absolute;*/
    color: whitesmoke;
    text-align: center;
}

.Titulo{
    color:rgb(32, 32, 32);
    font-size: 35px;
    text-align: center;
}

.boton{
	
	position: relative;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 16px;
    font-family: cursive;
    color: #ffffff;
    background-color: rgb(171, 255, 154);
    border-radius: 6px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    
}

.boton:hover{
   	color: rgb(0, 0, 0);
	background-color: #ffffff;
}
